nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: unset;
  list-style: none;
  padding: unset;
}

nav h2 {
  margin: unset;
}
