nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
  box-shadow: 0 3px 2px 1px #ff8c06;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: unset;
  list-style: none;
  padding: unset;
}

nav h2 {
  margin: unset;
}

nav a {
  color: #fefefe;
}
