.quote-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  max-width: 35em;
  margin: 1em 2em;
  background-color: #fbfbfb;
  border: solid 2px #bbb8b8;
  box-shadow: 0 3px 2px 1px #ff8c06;
  border-radius: 10px;
}

.quote-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.quote-section p {
  font-size: 18px;
  margin: 0;
}

.f-e {
  text-align: right;
}
