body {
  background-image: url('/public/francesco.jpg');
  background-size: cover;
  min-height: 85vh;
}

.app {
  margin: unset;
}

.row {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  padding: 0 10%;
}

.col-md-12 {
  width: 100%;
}
